
<p><a href="#" class="btn">Button</a> <code>.btn</code></p>
<p><a href="#" class="btn alt">Alternate Button</a> <code>.btn.alt</code></p>
<p><a href="#" class="btn hollow">Hollow Button</a> <code>.btn.hollow</code></p>
<p><a href="#" class="btn disabled">Disabled Button</a> <code>.btn.disabled</code></p>
<p><a href="#" class="text-btn">Text Button</a> <code>.text-btn</code></p>