/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
	width: 100%;
	border-collapse: collapse; 
	border-spacing: 0; 
}
th {
	text-align: left;
	padding: $pad-quarter $pad-half;
	
	text-transform: uppercase;
	font-size: 90%;
	letter-spacing: .5px;
}
tbody {
	border: 1px solid $gray-light;
}
td {
	border: 1px solid $gray-light;
	border-width: 0 1px;
	padding: $pad-quarter $pad-half;
}

table.horiz {
	th {
		background: $blue-dark;
		
		color: $sand;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 90%;
		letter-spacing: .5px;
	}
	thead, tfoot {
		border: 1px solid $gray-light;
	}
	thead th {
		padding: $pad-half $pad-half $pad-quarter;
	}
	tfoot th {
		padding: $pad-quarter $pad-half $pad-half;
	}
	
	td {
		border-width: 1px 0;
	}
}