/* Text-Related Elements */ 

p {
	margin-bottom: $space;
}

/* Blockquote */
blockquote {
    padding: $pad;
	margin-bottom: $space;
	border-left: $pad solid $sky-dark;
	@include border-radius($pad-quarter);
	
	font-style: italic;
    color: $sky-dark;
	
	&.alt {
		background: $sky-bright;
	}
	&.invert {
		background: $sky-dark;
		border-color: $sky-bright;
		color: $paper;
	}
}
	
/* Horizontal Rule */ 
hr {
	border: 0;
    height: 2px;
    background: $gray-light;
    margin: $space-double 0;
	
	&.dotted {
		border: none;
		border-bottom: 2px dotted $gray-light;
		height: 0;
		background: none;
	}
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}