&lt;div class=&quot;alert&quot;&gt;
	&lt;p&gt;.alert&lt;/p&gt;
	{{ excerpt.mini }}
&lt;/div&gt;
&lt;div class=&quot;alert alert-error&quot;&gt;
	&lt;p&gt;.alert.alert-error&lt;/p&gt;
	{{ excerpt.short }}
&lt;/div&gt;