<div class="navbar">
	<ul class="nav">
		<li class="active">
			<a href="{{ url }}">About</a>
		</li>
		<li>
			<a href="{{ url }}">Blog</a>
		</li>
		<li>
			<a href="{{ url }}">Wiki</a>
		</li>
		<li>
			<a href="{{ url }}">Newsletter</a>
		</li>
		<li>
			<a href="{{ url }}">Get Involved!</a>
		</li>
	</ul>
</div>
<!--end .nav-->