<div class="tabs">
	<ul class="tab-list">
		<li><a href="{{ url }}" class="active">Categories</a></li>
		<li><a href="{{ url }}">Tags</a></li>
		<li><a href="{{ url }}">Keywords</a></li>
	</ul>
</div>
<div class="tab-contents">
	{{ description }}
</div>