&lt;code&gt;table&lt;/code&gt;
&lt;table&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;Column header&lt;/th&gt;
			&lt;th&gt;Color&lt;/th&gt;
			&lt;th&gt;Data&lt;/th&gt;
			&lt;th&gt;Food&lt;/th&gt;
			&lt;th&gt;More data&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tfoot&gt;
		&lt;tr&gt;
			&lt;th&gt;Column header&lt;/th&gt;
			&lt;th&gt;Color&lt;/th&gt;
			&lt;th&gt;Data&lt;/th&gt;
			&lt;th&gt;Food&lt;/th&gt;
			&lt;th&gt;More data&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/tfoot&gt;
	&lt;tbody&gt;
	&lt;tr&gt;
		&lt;td&gt;Row&lt;/td&gt;
		&lt;td&gt;Brown&lt;/td&gt;
		&lt;td&gt;1.000&lt;/td&gt;
		&lt;td&gt;Coconut&lt;/td&gt;
		&lt;td&gt;999&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;Row&lt;/td&gt;
		&lt;td&gt;Yellow&lt;/td&gt;
		&lt;td&gt;0.200&lt;/td&gt;
		&lt;td&gt;Apple banana&lt;/td&gt;
		&lt;td&gt;88&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;Row&lt;/td&gt;
		&lt;td&gt;Red&lt;/td&gt;
		&lt;td&gt;0.030&lt;/td&gt;
		&lt;td&gt;Guava&lt;/td&gt;
		&lt;td&gt;7.7&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;Row&lt;/td&gt;
		&lt;td&gt;Green&lt;/td&gt;
		&lt;td&gt;0.004&lt;/td&gt;
		&lt;td&gt;Pineapple&lt;/td&gt;
		&lt;td&gt;0.66&lt;/td&gt;
	&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;
&lt;br&gt;&lt;br&gt;

&lt;code&gt;table.horiz&lt;/code&gt;
&lt;table class=&quot;horiz&quot;&gt;
	&lt;thead&gt;
		&lt;tr&gt;
			&lt;th&gt;Table Heading&lt;/th&gt;
			&lt;th&gt;Table Heading&lt;/th&gt;
			&lt;th&gt;Table Heading&lt;/th&gt;
		&lt;/tr&gt;
	&lt;/thead&gt;
	&lt;tbody&gt;
	&lt;tr&gt;
		&lt;td&gt;Row header&lt;/td&gt;
		&lt;td&gt;{{ excerpt.tiny }}&lt;/td&gt;
		&lt;td&gt;{{ excerpt.mini }}&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;Row header&lt;/td&gt;
		&lt;td&gt;{{ excerpt.mini }}&lt;/td&gt;
		&lt;td&gt;{{ excerpt.short }}&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;Row header&lt;/td&gt;
		&lt;td&gt;{{ excerpt.tiny }}&lt;/td&gt;
		&lt;td&gt;{{ excerpt.medium }}&lt;/td&gt;
	&lt;/tr&gt;
	&lt;/tbody&gt;
&lt;/table&gt;