&lt;div class=&quot;tabs&quot;&gt;
	&lt;ul class=&quot;tab-list&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;active&quot;&gt;Categories&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Tags&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Keywords&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
&lt;div class=&quot;tab-contents&quot;&gt;
	{{ description }}
&lt;/div&gt;