&lt;h2&gt;Dark Colors&lt;/h2&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #1a315b&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Dark Blue&lt;br&gt;$blue-dark&lt;br&gt;#1a315b&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #312e33&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Night&lt;br&gt;$night&lt;br&gt;#312e33&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #166c7a&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Dark Sky&lt;br&gt;$sky-dark&lt;br&gt;#166c7a&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #504b51&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Dark Gray&lt;br&gt;$gray-dark&lt;br&gt;#504b51&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;

&lt;h2&gt;Primary Colors&lt;/h2&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #0a3d99&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;True Blue&lt;br&gt;$true-blue&lt;br&gt;#0a3d99&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ea4626&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Code Red&lt;br&gt;$code-red&lt;br&gt;#ea4626&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #51cce0&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Sky Blue&lt;br&gt;$sky&lt;br&gt;#51cce0&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #7f777e&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Gray&lt;br&gt;$gray&lt;br&gt;#7f777e&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;

&lt;h2&gt;Bright Colors&lt;/h2&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #4f82db&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Bright Blue&lt;br&gt;$blue-bright&lt;br&gt;#4f82db&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #f46270&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Bright Red&lt;br&gt;$red-bright&lt;br&gt;#f46270&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #bde5e1&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Bright Sky&lt;br&gt;$sky-bright&lt;br&gt;#bde5e1&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #bcb1b5&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Light Gray&lt;br&gt;$gray-light&lt;br&gt;#bcb1b5&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;

&lt;h2&gt;Light Colors&lt;/h2&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #b8c1d1&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Light Blue&lt;br&gt;$blue-light&lt;br&gt;#b8c1d1&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #e5dcda&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Sand&lt;br&gt;$sand&lt;br&gt;#e5dcda&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: transparent&quot;&gt;&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #f9f6f4&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Paper&lt;br&gt;$paper&lt;br&gt;#f9f6f4&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;