&lt;h2&gt;Default Font&lt;/h2&gt;
&lt;p class=&quot;light&quot;&gt;Default font light: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/p&gt;
&lt;p&gt;Default font: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Default font italic: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/em&gt;&lt;/p
&lt;p&gt;&lt;strong&gt;Default font bold: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&lt;em&gt;Default font bold italic: &quot;Roboto&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;

&lt;h2&gt;Alternate Font (.serif)&lt;/h2&gt;
&lt;div class=&quot;serif&quot;&gt;
&lt;p&gt;Alternate font: &quot;Lora&quot;, &quot;Times New Roman&quot;, serif;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Alternate font italic: &quot;Lora&quot;, &quot;Times New Roman&quot;, serif;&lt;/em&gt;&lt;/p
&lt;p&gt;&lt;strong&gt;Alternate font bold: &quot;Lora&quot;, &quot;Times New Roman&quot;, serif;&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&lt;em&gt;Alternate font bold italic: &quot;Lora&quot;, &quot;Times New Roman&quot;, serif;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;
&lt;/div&gt;

&lt;h2&gt;Mono font (.mono)&lt;/h2&gt;
&lt;p class=&quot;mono&quot;&gt;Mono font: &quot;Inconsolata&quot;, monospace;&lt;/p&gt;
&lt;p class=&quot;mono&quot;&gt;&lt;strong&gt;Mono font bold: &quot;Inconsolata&quot;, monospace;&lt;/strong&gt;&lt;/p&gt;