/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/

// Alerts
.alert {
	text-align: center;
	padding: $pad;
	margin: $pad;
	border: 2px solid $blue-bright;
	@include border-radius($pad-quarter);
	color: $blue-bright;
}

.alert-error {
	border: 4px solid $red-bright;
	
	color: $red-bright;
}