
<code>table</code>
<table>
	<thead>
		<tr>
			<th>Column header</th>
			<th>Color</th>
			<th>Data</th>
			<th>Food</th>
			<th>More data</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Column header</th>
			<th>Color</th>
			<th>Data</th>
			<th>Food</th>
			<th>More data</th>
		</tr>
	</tfoot>
	<tbody>
	<tr>
		<td>Row</td>
		<td>Brown</td>
		<td>1.000</td>
		<td>Coconut</td>
		<td>999</td>
	</tr>
	<tr>
		<td>Row</td>
		<td>Yellow</td>
		<td>0.200</td>
		<td>Apple banana</td>
		<td>88</td>
	</tr>
	<tr>
		<td>Row</td>
		<td>Red</td>
		<td>0.030</td>
		<td>Guava</td>
		<td>7.7</td>
	</tr>
	<tr>
		<td>Row</td>
		<td>Green</td>
		<td>0.004</td>
		<td>Pineapple</td>
		<td>0.66</td>
	</tr>
	</tbody>
</table>
<br><br>

<code>table.horiz</code>
<table class="horiz">
	<thead>
		<tr>
			<th>Table Heading</th>
			<th>Table Heading</th>
			<th>Table Heading</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>Row header</td>
		<td>{{ excerpt.tiny }}</td>
		<td>{{ excerpt.mini }}</td>
	</tr>
	<tr>
		<td>Row header</td>
		<td>{{ excerpt.mini }}</td>
		<td>{{ excerpt.short }}</td>
	</tr>
	<tr>
		<td>Row header</td>
		<td>{{ excerpt.tiny }}</td>
		<td>{{ excerpt.medium }}</td>
	</tr>
	</tbody>
</table>