<div class="block block-thumb">
	<div class="b-inner">
		<a href="{{ url }}" class="b-thumb">
			{{> atoms-square }}
		</a>
		<div class="b-text">
			<a href="{{ url }}" class="b-inner"><h2 class="b-title">{{ headline.short }}</h2></a>
			<p>{{ excerpt.medium }}</p>
		</div>
	</div>
</div>