<h2>Dark Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: {{ color.darkBlue }}"></span>
		<span class="sg-label">Dark Blue<br>$dark-blue<br>{{ color.darkBlue }}</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: transparent"></span>
	</li>
	<li>
		<span class="sg-swatch" style="background: {{ color.darkSky }}"></span>
		<span class="sg-label">Dark Sky<br>$dark-sky<br>{{ color.darkSky }}</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: {{ color.deepSpace }}"></span>
		<span class="sg-label">Deep Space<br>$deep-space<br>{{ color.deepSpace }}</span>
	</li>
</ul>

<h2>Primary Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: {{ color.trueBlue }}"></span>
		<span class="sg-label">True Blue<br>$true-blue<br>{{ color.trueBlue }}</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: {{ color.codeRed }}"></span>
		<span class="sg-label">Code Red<br>$code-red<br>{{ color.codeRed }}</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: {{ color.skyBlue }}"></span>
		<span class="sg-label">Sky Blue<br>$sky-blue<br>{{ color.skyBlue }}</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: {{ color.gray }}"></span>
		<span class="sg-label">Gray<br>$gray<br>{{ color.gray }}</span>
	</li>
</ul>

<h2>Bright Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: {{ color.brightBlue }}"></span>
		<span class="sg-label">Bright Blue<br>$bright-blue<br>{{ color.brightBlue }}</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: {{ color.brightRed }}"></span>
		<span class="sg-label">Bright Red<br>$bright-red<br>{{ color.brightRed }}</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: {{ color.brightSky }}"></span>
		<span class="sg-label">Bright Sky<br>$bright-sky<br>{{ color.brightSky }}</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: {{ color.lightGray }}"></span>
		<span class="sg-label">Light Gray<br>$light-gray<br>{{ color.lightGray }}</span>
	</li>
</ul>

<h2>Light Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: {{ color.lightBlue }}"></span>
		<span class="sg-label">Light Blue<br>$light-blue<br>{{ color.lightBlue }}</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: {{ color.dust }}"></span>
		<span class="sg-label">Dust<br>$dust<br>{{ color.dust }}</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: transparent"></span>
	</li>
	<li>
		<span class="sg-swatch" style="background: {{ color.paper }}"></span>
		<span class="sg-label">Paper<br>$paper<br>{{ color.paper }}</span>
	</li>
</ul>