<h2>Dark Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #1a315b"></span>
		<span class="sg-label">Dark Blue<br>$blue-dark<br>#1a315b</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #312e33"></span>
		<span class="sg-label">Night<br>$night<br>#312e33</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #166c7a"></span>
		<span class="sg-label">Dark Sky<br>$sky-dark<br>#166c7a</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #504b51"></span>
		<span class="sg-label">Dark Gray<br>$gray-dark<br>#504b51</span>
	</li>
</ul>

<h2>Primary Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #0a3d99"></span>
		<span class="sg-label">True Blue<br>$true-blue<br>#0a3d99</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ea4626"></span>
		<span class="sg-label">Code Red<br>$code-red<br>#ea4626</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #51cce0"></span>
		<span class="sg-label">Sky Blue<br>$sky<br>#51cce0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7f777e"></span>
		<span class="sg-label">Gray<br>$gray<br>#7f777e</span>
	</li>
</ul>

<h2>Bright Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #4f82db"></span>
		<span class="sg-label">Bright Blue<br>$blue-bright<br>#4f82db</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f46270"></span>
		<span class="sg-label">Bright Red<br>$red-bright<br>#f46270</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #bde5e1"></span>
		<span class="sg-label">Bright Sky<br>$sky-bright<br>#bde5e1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #bcb1b5"></span>
		<span class="sg-label">Light Gray<br>$gray-light<br>#bcb1b5</span>
	</li>
</ul>

<h2>Light Colors</h2>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #b8c1d1"></span>
		<span class="sg-label">Light Blue<br>$blue-light<br>#b8c1d1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e5dcda"></span>
		<span class="sg-label">Sand<br>$sand<br>#e5dcda</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: transparent"></span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f9f6f4"></span>
		<span class="sg-label">Paper<br>$paper<br>#f9f6f4</span>
	</li>
</ul>