<h2>Default Font</h2>
<p class="light">Default font light: "Roboto", "Helvetica", "Arial", sans-serif;</p>
<p>Default font: "Roboto", "Helvetica", "Arial", sans-serif;</p>
<p><em>Default font italic: "Roboto", "Helvetica", "Arial", sans-serif;</em></p
<p><strong>Default font bold: "Roboto", "Helvetica", "Arial", sans-serif;</strong></p>
<p><strong><em>Default font bold italic: "Roboto", "Helvetica", "Arial", sans-serif;</em></strong></p>

<h2>Alternate Font (.serif)</h2>
<div class="serif">
<p>Alternate font: "Lora", "Times New Roman", serif;</p>
<p><em>Alternate font italic: "Lora", "Times New Roman", serif;</em></p
<p><strong>Alternate font bold: "Lora", "Times New Roman", serif;</strong></p>
<p><strong><em>Alternate font bold italic: "Lora", "Times New Roman", serif;</em></strong></p>
</div>

<h2>Mono font (.mono)</h2>
<p class="mono">Mono font: "Inconsolata", monospace;</p>
<p class="mono"><strong>Mono font bold: "Inconsolata", monospace;</strong></p>