
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Button&lt;/a&gt; &lt;code&gt;.btn&lt;/code&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn alt&quot;&gt;Alternate Button&lt;/a&gt; &lt;code&gt;.btn.alt&lt;/code&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn hollow&quot;&gt;Hollow Button&lt;/a&gt; &lt;code&gt;.btn.hollow&lt;/code&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn disabled&quot;&gt;Disabled Button&lt;/a&gt; &lt;code&gt;.btn.disabled&lt;/code&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;text-btn&quot;&gt;Text Button&lt;/a&gt; &lt;code&gt;.text-btn&lt;/code&gt;&lt;/p&gt;